﻿@using System.Data;
@using MySql.Data.MySqlClient;
@{
    Layout = "~/_layout.cshtml";
    Page.Title = "Details";

    int id;
    if (!int.TryParse(Request.Params["id"], out id)) {
        Response.Redirect("~/error.cshtml");
    }

    string render = "login_form.cshtml";
    if (!string.IsNullOrEmpty(Session["user"] as string)) {
        render = "logout_form.cshtml";
    }

    string next = "";
    var produkt = new DataTable();
    DataRow row = null;

    // Verbindung zum DBMS
    const string constring = "Server=127.0.0.1;port=3307;Database=praktikum;Uid=webapp;Pwd=webapp;";
    MySqlConnection con = new MySqlConnection(constring);
    try {
        con.Open();
        MySqlCommand cmd;
        MySqlDataReader reader;
        cmd = con.CreateCommand();
        // build query
        cmd.CommandText = "select name, beschreibung, vegetarisch, vegan, fkbildid, mitarbeiterbetrag, studentenbetrag, gastbetrag from produkt " +
                            "join preis on produkt.fkPreisId = preis.id " +
                            "join bild on produkt.fkBildId = bild.id " +
                            "where produkt.id = " + id + " " +
                            "limit 1;";
        // execute query
        reader = cmd.ExecuteReader();
        // transfer to DataTable
        produkt.Load(reader);
        // check if result exists
        if(produkt.Rows.Count != 0) {
            row = produkt.Rows[0];
        }
        else {
            Response.Redirect("~/error.cshtml");
        }

        // close reader
        reader.Close();
        // close connection
        con.Close();

        next = "~/detail.cshtml?id=" + id;
    }
    catch (Exception e) {
        <p class="error">Das hat nicht geklappt.</p>
        <pre>@e.Message</pre>
    }
}

<div class="content">
    <div>
        <div class="row">
            <!-- sidebar -->
            <div class="col-md-2 sidebar">
                @RenderPage(render)
            </div>
            <!-- end sidebar -->
            
            <!-- maincontent -->
            <div class="col-md-10">
                <div class="row">
                    <h2 class="col-md-10">Details für "@row["name"]"</h2>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="placeholder" style="height: 200px"></div>
                    </div>
                    <div class="col-md-2">
                        <div id="price">
                            <div>
                                Gast-Preis<br />
                                @String.Format("{0:0.00}", @row["gastbetrag"]) €
                            </div>
                            <button type="button" class="my-btn">
                                <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Vorbestellen
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Beschreibung</a></li>
                                <li role="presentation"><a href="#ingredients" aria-controls="ingredients" role="tab" data-toggle="tab">Zutaten</a></li>
                                <li role="presentation"><a href="#rating" aria-controls="rating" role="tab" data-toggle="tab">Bewertungen</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="description">
                                    <p>@row["beschreibung"]</p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ingredients">
                                                  
                                </div>
                                <div role="tabpanel" class="tab-pane" id="rating">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>
                                                Hmm, lecker !
                                            </p>
                                        </div>
                                        <div class="col-md-6">
                                            <form method="post" action="http://bc5.m2c-lab.fh-aachen.de:8080/data.php" target="_blank">
                                                <div class="form-group">
                                                    <label for="benutzer">Name</label>
                                                    <input type="text" class="form-control" name="benutzer" placeholder="Name..." />
                                                </div>
                                                <div class="form-group">
                                                    <label for="bewertung">Bewertung</label>
                                                    <input type="number" class="form-control" name="bewertung" min="1" max="5" value="4" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="bemerkung">Bemerkung</label>
                                                    <textarea name="bemerkung" class="form-control" placeholder="Kommentar..."></textarea>
                                                </div>
                                                <button type="submit" class="my-btn">Bewerten</button>
                                                <input hidden type="text" name="matrikelnummer" value="3056491" />
                                                <input hidden type="text" name="kontrolle" value="sch" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <!-- end maincontent -->
        </div>
    </div>
</div>
