﻿
@{
    Layout = "~/_layout.cshtml";
    Page.Title = "Fehler";
}

@section head {
    <meta http-equiv="refresh" content="3; URL=start.cshtml">
}

<!-- Content -->
<div class="content">
    Ups, da ist etwas schief gegangen
</div> <!-- content -->
