﻿
@{ 
    Layout = "~/_layout.cshtml";
    Page.Title = "Impressum";
}

@section head {
    <meta http-equiv="refresh" content="3; URL=start.cshtml">
}

<!-- Content -->
<div class="content">
    Gleich gehts weiter ...
</div> <!-- content -->
  