﻿
<div id="login">
    <form class="" method="post" action="login.cshtml" >
        <fieldset class="">
            <legend class="">Login</legend>
            <label for="login-benutzer" hidden></label>
            <input class="" name="login-benutzer" type="text" placeholder="Benutzer" 
                @Validation.For("login-benutzer")/>
            @Html.ValidationMessage("login-benutzer")
            <label for="login-password" hidden></label>
            <input class="" name="login-password" type="password" placeholder="*******" 
                @Validation.For("login-password")/>
            @Html.ValidationMessage("login-password")
            <input class="" type="submit" value="Anmelden" />
        </fieldset>
    </form>
    @PageData["message"]
    <p>
        <br />
        Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für
        Mitarbeiter und Studenten zu sehen.
    </p>
</div>
