﻿@using System.Data;
@using MySql.Data.MySqlClient;
@using PasswordSecurity;

@{
    Layout = "~/_layout.cshtml";
    Page.Title = "Login";

    // Specify validation requirements for different fields.
    Validation.RequireField("login-benutzer", "Bitte Benutzernamen eingeben");
    Validation.RequireField("login-password", "Bitte Passwort eingeben");

    string next = "~/start.cshtml";
    if(Request.Params["next"] != null) {
        next = Request.Params["next"];
    }

    //if (!string.IsNullOrEmpty(Request.Params["next"] as string )) {
    //    next = Request.Params["next"].ToString();
    //}

    string render = "login_form.cshtml";
    if (!string.IsNullOrEmpty(Session["user"] as string)) {
        render = "logout_form.cshtml";
    }

    if (IsPost && !string.IsNullOrEmpty(Session["user"] as string)) {
        Session["user"] = null;
        Session["role"] = null;
        Response.Redirect(next);
    }

    var message = "";
    if (IsPost && Validation.IsValid()) {
        // Verbindung zum DBMS
        const string constring = "Server=127.0.0.1;port=3307;Database=praktikum;Uid=webapp;Pwd=webapp;";
        MySqlConnection con = new MySqlConnection(constring);
        try {

            var username = Request.Form["login-benutzer"].ToString();
            var password = Request.Form["login-password"].ToString();

            con.Open();
            MySqlCommand cmd;
            MySqlDataReader reader;
            cmd = con.CreateCommand();
            // build query
            cmd.CommandText = "select loginname, vorname, `hash`, salt, stretch, algorithmus " +
                                "from `fe-nutzer`" +
                                "where `fe-nutzer`.loginname = '" + username + "';";
            // execute query
            reader = cmd.ExecuteReader();

            if (reader.HasRows) {
                reader.Read();
                string goodhash = reader["algorithmus"].ToString() + ":64000:18:" +
                    reader["salt"] + ":" + reader["hash"];
                if (PasswordSecurity.PasswordStorage.VerifyPassword(password, goodhash)) {
                    Session["user"] = reader["vorname"];
                    Session["role"] = "student";
                    message = "Willkommen, " + Session["user"];
                }
                else {
                    message = "Passwort falsch";
                }
            }
            else {
                message = "Benutzername oder/und Passwort falsch";
            }

            // close reader
            reader.Close();
            // close connection
            con.Close();
        }
        catch (Exception e) {
            <p class="error">Das hat nicht geklappt.</p>
            <pre>@e.Message</pre>
        }

        Response.Redirect(next);
    }
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 sidebar">
        @RenderPage(render, message)
    </div>
    <div class="col-md-5"></div>
</div>