﻿
<div id="logout">
    <form class="" method="post" action="~/login.cshtml">
        <fieldset class="">
            <legend class="">Profil</legend>
            <label>
                Hallo @Session["user"].ToString(), sie sind angemeldet als @Session["role"].ToString()
            </label>
            <input class="" type="submit" value="Abmelden" />
        </fieldset>
    </form>
</div>
