﻿@using System.Data;
@using MySql.Data.MySqlClient;

@{
    Layout = "~/_layout.cshtml";
    Page.Title = "Produkte";

    if (IsPost) {
        string responseString = String.Format("~/produkte.cshtml?kategorie={0}", Request.Form["category"].AsInt());
        if (Request.Form["vegie"].AsBool()) {
            responseString += "&vegie=1";
        }
        if (Request.Form["vegan"].AsBool()) {
            responseString += "&vegan=1";
        }
        Response.Redirect(responseString);
    }

    var kategorien = new DataTable();
    var produkte = new DataTable();
    string kategorie = "( Bestseller )";

    // Verbindung zum DBMS
    const string constring = "Server=127.0.0.1;port=3307;Database=praktikum;Uid=webapp;Pwd=webapp;";
    MySqlConnection con = new MySqlConnection(constring);
    try {
        con.Open();
        MySqlDataReader reader;
        MySqlCommand cmd, cmdKat;
        // get categorys
        cmd = con.CreateCommand();
        // build query
        cmd.CommandText = "select kat.id, kat.bezeichnung as bez, okat.bezeichnung as oBez from kategorie as kat " +
                            "inner join kategorie okat on okat.id = kat.Oberkategorie;";
        // start query
        reader = cmd.ExecuteReader();

        // transfer to DataTable
        kategorien.Load(reader);
        // close reader()
        reader.Close();

        // get products
        cmd = con.CreateCommand();
        cmdKat = con.CreateCommand();
        // build query
        cmd.CommandText = "select produkt.id as 'id', name, produkt.fkbildid from produkt " +
                            "join bild on produkt.fkBildId = bild.id ";
        // add filter values, if existing
        if (int.TryParse(Request.Params["kategorie"], out int katID) && katID != 0) {
            cmd.CommandText += "where fkkategorieid = " + katID + " ";
            cmdKat.CommandText = "select bezeichnung from kategorie where id = " + katID + ";";
            reader = cmdKat.ExecuteReader();
            if (reader.Read()) {
                kategorie = "( " + reader["bezeichnung"] + " )";
            }
            reader.Close();
        }
        if (Request.Params["vegie"].AsInt() == 1) {
            cmd.CommandText += "and vegetarisch = 1 ";
        }
        if (Request.Params["vegan"].AsInt() == 1) {
            cmd.CommandText += "and vegan = 1 ";
        }
        int limit = 8;
        if (int.TryParse(Request.Params["limit"], out int _limit)) {
            limit = _limit;
        }
        cmd.CommandText += "limit " + limit + ";";

        // start query
        reader = cmd.ExecuteReader();
        // transfer to DataTable
        produkte.Load(reader);
        // close reader
        reader.Close();

        // close connection
        con.Close();
    }
    catch (Exception e) {
        <p class="error">Das hat nicht geklappt.</p>
        <pre>@e.Message</pre>
    }
}

<div class="content">
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar">
                    <form class="" id="filter" method="post">
                        <fieldset class="">
                            <legend class="">Speisen filtern</legend>
                                <select name="category">
                                    <option value="0"></option>
                                @{
                                    string okat = null;
                                    foreach (DataRow row in kategorien.Rows) {
                                        if (!row["obez"].ToString().Equals(okat)) {
                                            if (okat != null) {
                                                @:</optgroup>
                                            }
                                            @:<optgroup label="@row["obez"]">
                                            okat = row["obez"].ToString();
                                        }
                                        @:<option value="@row["id"]">@row["bez"]</option>
                                    }
                                    @:</optgroup>
                                }
                                </select>
                            <br />
                            <br />
                            <label>
                                <input type="checkbox" name="available" value="available">
                                nur verfügbare
                            </label>
                            <label>
                                <input type="checkbox" name="vegie" value="true">
                                nur vegetarische
                            </label>
                            <label>
                                <input type="checkbox" name="vegan" value="true">
                                nur vegane
                            </label>
                            <br /><br />
                            <button type="submit" class="my-btn">
                                Speisen filtern
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="col-md-9 mealthumbs">
                <h2>Verfügbare Speisen @kategorie</h2>
                @{  
                    int i = -1;
                    foreach (DataRow row in produkte.Rows) {
                        if (++i % 4 == 0) {
                            @:<div class="row">
                        }
                        <div class="col-md-3" id="produkt-@row["id"]">
                            <div class="placeholder" style="height:150px;"></div>
                                <h4>@row["name"]</h4>
                            <a href="@string.Format("detail.cshtml?id={0}", row["id"])">Details</a>
                        </div>

                        if (i % 4 == 3) {
                            @:</div>
                        }
                    }
                    if (i % 4 != 3) {
                    @:</div>
                    }
                }
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>