﻿
@{
    Layout = "~/_layout.cshtml";
    Page.Title = "Start";
}


<div class="content">
    <div>
        <div class="placeholder" style="height: 150px;"></div>
        <div class="row">
            <div class="col-md-2">
                <p>
                    Der Dienst e-Mensa ist noch beta. Sie können bereits <a href="~/produkte.cshtml">Mahlzeiten</a>
                    durchstöbern, aber noch nicht bestellen.
                </p>
                <p>
                    Registrieren Sie sich <a href="#">hier</a>, um über die Veröffentlichung des Dienstes per Mail informiert zu werden.
                </p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Leckere Gerichte vorbestellen</h2>
                        <p>
                            ... und gemeinsam mit Kommilitonen und Freunden essen
                        </p>
                    </div>
                    <div class="col-md-2">
                        <div id="login-btn">
                            <button type="button" class="my-btn">
                                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Registrieren
                            </button>
                            <button type="button" class="my-btn">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Anmelden
                            </button>
                        </div>
                    </div>
                </div>
                <div class="placeholder" style="height:100px;"></div>
            </div>
        </div>
    </div>
</div>