﻿@*@helper login_form(string message = "", string next = "~/start.cshtml") {
    <div id="login">
        <form class="" method="post" action="@string.Format("~/login.cshtml?next={0}", next)">
            <fieldset class="">
                <legend class="">Login</legend>
                <label for="login-benutzer" hidden></label>
                <input class="" name="login-benutzer" type="text" placeholder="Benutzer"
                       @Validation.For("login-benutzer") />
                @Html.ValidationMessage("login-benutzer")
                <label for="login-password" hidden></label>
                <input class="" name="login-password" type="password" placeholder="*******"
                       @Validation.For("login-password") />
                @Html.ValidationMessage("login-password")
                <input class="" type="submit" value="Anmelden" />
            </fieldset>
        </form>
        @message
        <p>
            <br />
            Melden Sie sich jetzt an, um die wirklich viel günstigeren Preise für
            Mitarbeiter und Studenten zu sehen.
        </p>
    </div>
}

@helper logout_form(string next = "~/start.cshtml") {
    <div id="logout">
        <form class="" method="post" action="@string.Format("~/login.cshtml?next={0}", next)">
            <p>
                Hallo @Session["user"].ToString(), sie sind angemeldet als @Session["role"].ToString()
            </p>
            <fieldset class="">
                <input class="" type="submit" value="Abmelden" />
            </fieldset>
        </form>
    </div>
}*@
